<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">

      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
      <% @microposts.each do |micropost| %>
        <li>
          <!-- Ex 10.6 -->
          <span class="content"><%= wrap(micropost.content) %></span>
          <span class="timestamp">
          Posted <%= time_ago_in_words(micropost.created_at) %> ago.
          </span>
          <!-- Ex 10.5 -->
          <%= render 'shared/delete_link', object: micropost %>
        </li>
      <% end %>
      </ol>
      <%= will_paginate @microposts %>

  </div>
</div>
